# ============================================
# KONFIGURASI ENVIRONMENT - IPBD Stock Pipeline
# ============================================
# Ganti nilai di bawah ini sesuai lingkungan kamu.
# Jangan commit file .env ke git!

# --- GARAGE S3 (Object Storage) ---
GARAGE_ENDPOINT=http://localhost:3900
GARAGE_ACCESS_KEY=GKc98624849db70446555a905b
GARAGE_SECRET_KEY=934f97fb29df4f1da215e689c57ab5b42c4e42798841961e4df77d4d3ae6c828
GARAGE_BUCKET=stock-bucket
GARAGE_ADMIN_TOKEN=admin_token_rahasia123

# --- KAFKA ---
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_INTERNAL_SERVERS=kafka:29092
KAFKA_TOPIC=stock-stream-topic

# --- SPARK ---
SPARK_MASTER_URL=spark://spark-master:7077

# --- TRINO ---
TRINO_HOST=http://localhost:8082

# --- MLFLOW ---
MLFLOW_TRACKING_URI=http://localhost:5000

# --- PREFECT ---
PREFECT_API_URL=http://localhost:4200/api

# --- GRAFANA ---
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin

# --- INFLUXDB ---
INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=your-token-here
INFLUXDB_ORG=stock-org
INFLUXDB_BUCKET=pipeline-metrics

# --- ALERT / NOTIFICATION ---
# Email (Gmail SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
ALERT_EMAIL_TO=team@example.com

# Telegram Bot
TELEGRAM_BOT_TOKEN=your-bot-token
TELEGRAM_CHAT_ID=your-chat-id

# --- DATA MASKING ---
PII_MASK_ENABLED=true
